<!DOCTYPE html>

<html>
<head>

<link rel="stylesheet" type="text/css" href="./styles.css/">

	<div id="titlebar">
		<p>DiversiFriends</p>
	</div>

</head>

<body>

<div id="navbar">

		<div id="buttons"><a href="home.html" >Home</a> </div> <br><br>
		<div id="buttons"><a href="profile.html" >Profile</a> </div><br><br>
		<div id="buttons"><a href="settings.html" >Settings</a> </div><br><br>
		<div id="buttons"><a href="messages.html" >Messages</a> </div><br><br>
		<div id="buttons"><a href="friends.html" >Friends</a> </div><br><br>
		<div id="buttons"><a href="help.html" >Help</a> </div><br><br>
		
		<!--Logout Button-->
		<div id="logout"> <a href="logout.html" >Log Out</a></div>
	
	</div>

</div>

<div id="matches">

	<h2>Your Connection Requests</h2>
	<br>
	<br>
	<h2>Your Messages</h2>
	

</div>


</body>

</html>