<!DOCTYPE html>

<html>
<head>

<link rel="stylesheet" type="text/css" href="css/styles.css">

	<div id="titlebar">
		<p>DiversiFriends</p>
	</div>

</head>

<body>

<div id="navbar">

		<div id="buttons"><a href="index" >Home</a> </div> <br><br>
		<div id="buttons"><a href="profile" >Profile</a> </div><br><br>
		<div id="buttons"><a href="requests" >Requests</a> </div><br><br>
		<div id="buttons"><a href="friends" >Friends</a> </div><br><br>
		<!--<div id="buttons"><a href="help.html" >Help</a> </div><br><br>-->
		<!--Logout Button-->
		<div id="logout"> <a href="login" >Log Out</a></div>
	
	</div>

</div>

<div id="headings">

	<h1>Your Connection Requests!</h1>
	<p>These people want to connect with you.</p>
	

</div>


</body>

</html>